@mixin flex-direction-col{
  display: flex;
  flex-direction: column;
}

@mixin flex-direction-row{
  display: flex;
  flex-direction: row;
}

@mixin icon-size{
  padding-top: 4vh;
}

@mixin icon-size-hover{
  color: $brand-primary-color;
}

@mixin bg-img{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@mixin bg-img-transparency{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $transparency-dark;
}

@mixin yellow-text-regular{
  color: $brand-primary-color;
  font-weight: $font-weight-regular;
}

//gallery

@mixin bg-img-gallery{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

@mixin bg-img-transparency-gradient{
  background-size:cover;
  background-repeat: no-repeat;
  z-index: -1;
  background: rgba(0,0,0,0.23);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.23) 0%, rgba(19,19,19,0.73) 54%, rgba(19,19,19,1) 84%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.23)), color-stop(54%, rgba(19,19,19,0.73)), color-stop(84%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.23) 0%, rgba(19,19,19,0.73) 54%, rgba(19,19,19,1) 84%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.23) 0%, rgba(19,19,19,0.73) 54%, rgba(19,19,19,1) 84%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.23) 0%, rgba(19,19,19,0.73) 54%, rgba(19,19,19,1) 84%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.23) 0%, rgba(19,19,19,0.73) 54%, rgba(19,19,19,1) 84%);
}

@mixin white-header-light {
  color: $brand-secondary-color !important;
  font-weight: $font-weight-light;
  font-size: $font-size-large;
  margin-top: 0px!important;
  margin-bottom: $margin-top-medium;
}

@mixin white-title-light {
  color: $brand-secondary-color !important;
  font-weight: $font-weight-light;
  font-size: $font-size-medium;
  margin-top: 0px!important;
  margin-bottom: $margin-top-xsmall;
}

@mixin white-text-regular {
  color: $brand-secondary-color !important;
  font-weight: $font-weight-regular;
  font-size: $font-size-small;
  margin: 0px!important;
}

@mixin white-text-bold {
  color: $brand-secondary-color !important;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  margin-bottom: $margin-top-xsmall;
}

@mixin img-index-small {
  position: absolute;
  margin-left: 85%;
  margin-top: 30%;
  color: $brand-secondary-color;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-shadow: 0 0 55px black, 0 1px 0 rgba(0,0,0, .25);
}

@mixin img-index-large {
  position: absolute;
  margin-left: 93%;
  margin-top: 25%;
  color: $brand-secondary-color;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-shadow: 0 0 55px black, 0 1px 0 rgba(0,0,0, .25);
}
